fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
numpy
torch==2.5.1
torchvision==0.20.1
gsplat==1.5.3
Pillow
imageio
tqdm
opencv-python
pycolmap
piexif
scikit-learn
scipy
matplotlib
pyyaml
torchmetrics
tensorboard
tyro